<div class="col-lg-3 col-md-6 col-sm-6" id="crad-id">
    <div class="card card-stats" style="visibility:<%=fotterText %>;">
      <div class="card-header card-header-<%= color %> card-header-icon">
        <div class="card-icon">
          <i class="material-icons"><%= icon %>y</i>
        </div>
        <p class="card-category"><%= title %></p>
        <h3 class="card-title" id="<%= districtId %>"><%= value %>
        </h3>
        <h5><%= unit %></h5>
        <h6>--------------------------------------------------
        </h6>
      </div>
      <div class="card-body text-right">
        <div class="stats">
          <i class="material-icons text-danger"><%= fotterIcon %></i>
          <h5 style="color: aliceblue; text-align: end;"  >:חבילות שהגיעו</h5>
          <h3 style="color: brown;" id="<%= arriveId %>"><%= arrive %></h3>
        </div>
      </div>
    </div>
  </div>